Flask==2.2.5
Flask-Admin==1.6.1
numpy==1.21.6
openpyxl==3.1.2
pandas==1.3.5
pycryptodome==3.18.0
python-binance==1.0.19
python-dateutil==2.8.2
pytz==2023.3
regex==2023.8.8
requests==2.31.0
sqlite-fts4==1.0.3
sqlite-utils==3.34
bcrypt==4.1.2
Flask-Mail==0.9.1
#pyrsgis==0.4.1
#gdal==2.4.0 
rasterio>=1.2.0
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==0.0.1
tensorflow-io-gcs-filesystem==0.31.0
matplotlib==3.5.3
scikit-learn==1.0.2 
pdfkit==1.0.0
