<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Rikaz - Account Settings</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="static/img/favicon.png" rel="icon" />
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="static/vendor/aos/aos.css" rel="stylesheet" />
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet" />

    <script>
      // Display an alert box with the error message
      {% if alert_message %}
      window.onload = function() {
          alert("{{ alert_message }}");
      }
      {% endif %}
  </script>
  </head>

  <body>
    <!-- ======= Header ======= -->
    {% include 'header.html' %}
    <!-- End Header -->
    <br /><br />

    <!-- ======= Account Settings Section ======= -->
    <section id="account-settings" class="account-settings">
      <div class="container">
        <div class="section-title">
          <span>Account Settings</span>
          <h2>Account Settings</h2>
        </div>

        <!-- Logout Button -->
        <div class="text-center mt-4">
          <a href="/logout" class="btn btn-danger logout-button">Logout</a>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-up">
            <div class="icon-box" onclick="navigateTo('/update-information')">
              <div class="icon">
                <i class="bx bx-user"></i>
              </div>
              <h4>Update Information</h4>
              <p>Modify your personal information such as name and email.</p>
            </div>
          </div>

          <div class="col-lg-4" data-aos="fade-up">
            <div class="icon-box" onclick="navigateTo('/change-password')">
              <div class="icon">
                <i class="bx bx-lock"></i>
              </div>
              <h4>Change Password</h4>
              <p>Update your account password to ensure security and privacy.</p>
            </div>
          </div>

          <div class="col-lg-4" data-aos="fade-up">
            <div class="icon-box" onclick="navigateTo('/delete-account')">
              <div class="icon">
                <i class="bx bx-trash"></i>
              </div>
              <h4>Delete Accounts</h4>
              <p>Delete your account and all associated data.</p>
            </div>
          </div>
        </div>
        <br />
        <button onclick="navigateTo('/dashboard')" type="submit" class="button button-block">Go Back</button>
      </div>
    </section>
    <!-- End Account Settings Section -->

    <!-- Function to navigate to the specified URL -->
    <script>
      function navigateTo(url) {
        window.location.href = url
      }
    </script>

    <!-- ======= Footer ======= -->
    {% include 'footer.html' %}
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="static/vendor/aos/aos.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>
  </body>
</html>
