<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Rikaz - Change Password</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="static/img/favicon.png" rel="icon" />
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="static/vendor/aos/aos.css" rel="stylesheet" />
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet" />

    <style>
        body {
            background-image: url("/static/img/background.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            z-index: -1;
        }
    </style>

    
    <script>
      // Display an alert box with the error message
      {% if alert_message %}
      window.onload = function() {
          alert("{{ alert_message }}");
      }
      {% endif %}
    </script>
  </head>

  <body>
    <!-- ======= Header ======= -->
    {% include 'header.html' %}
    <!-- End Header -->
    <br /><br />

    <!-- ======= Change Password Section ======= -->
    <div class="form update-info" style="background-color:  #fff;">
      <div class="tab-content">
        <h1>Change Password</h1>
        <form action="{{ url_for('change_password') }}" method="POST">
          <div class="field-wrap">
            <label for="old_password">Old Password:</label>
            <input type="password" name="old_password" id="old_password" required />

            <label for="new_password">New Password:</label>
            <input type="password" name="new_password" id="new_password" required />

            <label for="confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password" id="confirm_password" required />
          </div>
          <button type="submit" class="button button-block">Change Password</button>
          <br />
          <button type="button" onclick="window.location.href='/account-settings'" class="button button-block">Cancel</button>
        </form>
      </div>
    </div>
    <!-- End Change Password Section -->

    <!-- ======= Footer ======= -->
    {% include 'footer.html' %}
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="static/vendor/aos/aos.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>
  </body>
</html>
